<!DOCTYPE html>

<html ng-app="friendsList">
    <head>
        <title>First Angular Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="styles.css" />
    </head>
    <body ng-controller="mainCtrl">
        
        <h1>My Friends</h1>
        
        <div ng-repeat="friend in friends">
            <p>{{friend}}</p>
        </div>
        
        <form>
            <textarea placeholder="new name" ng-model="newName"></textarea>
            <input type="submit" value="Submit" ng-click="addFriend()"/>
        </form>
        
        
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/app.js" type='text/javascript'></script>
        <script src="js/mainCtrl.js" type="text/javascript"></script>
    </body>
</html>
